*{
    box-sizing: border-box;
}

.container{
    width: 1600px;
    height: 1200px;
    background: #D8DAE2;;
    padding: 216px 18px 207px 19px;
    margin: 0px auto;
}
.margin-64{
    margin-left: 64px;
}

.content{
    border-radius: 26px;
    background: #EFF0F1;
    box-shadow: 0px 76px 27px 0px rgba(6, 27, 82, 0.10);
    padding: 62px;
}

h1{
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #0E0E38;
    margin-top: 0;
}


.select{
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
        display: inline-block;
        padding:10px;
        border-radius: 8px;
        background: #FFF;
    }
    a{
        text-decoration: none;
        color: #0E0E38;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.body-content{
    margin-top: 56px;
}

.people, .nature, .history{
    display: inline-block;
    padding: 22px;
    border-radius: 32px;
    background: #FFF;
}

.small-image{
    margin-top: 16px;
    img{
        margin-left: 12px;
    }
}

.description {
    margin-top: 24px;
    width: 389px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    h2{
        color: #0E0E38;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: left;
        margin: 0;
        padding: 0;
        }
}

.sub-description{
    display: flex;
    align-items: center;
    img{
        width: 31px;
        height: 31px;
    }
    span{
        color: #0E0E38;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}



