* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-weight: 500;
    font-family: Poppins;
    color: #000; ;
}

body {
    font-size: 1.6rem;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

input {
    width: 30px;
}

.gap-34 {
    gap: 34px;
}

.mg-50 {
    margin-top: 50px;
}

.text-center {
    text-align: center;
}

.mg-46 {
    margin-top: 46px;
}


.text-left {
    text-align: left;
}

.d-flex {
    display: flex;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.btn {
    border-radius: 15px;
    border: 1px solid #000;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
}

.btn-medium {
    padding: 14px 58px;
}

.text {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contaier {
    background: #FFF;
}

header {
    padding: 34px 100px 34px 54px;
}

.logo {
    a {
        color: #000;
        font-family: Montserrat;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.logo-house {
    width: 50px;
    height: 32px;
}

nav {
    gap: 158px;
}

.nav-link {
    gap: 75px;
}

.nav-icon {
    gap: 45px;
    li {
        width: 28px;
        height: 28px;
        flex-shrink: 0;
    }
}

.banner {
    width: 100%;
    height: 316px;
    flex-shrink: 0;
    position: relative;

    nav {
        gap: 3px;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
       top: 100px;
    }
}

nav {
    h1 {
        a {
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}

.nav-item {
    .arow-down {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    }   

    a:last-child {
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

.pay {
    padding: 72px 100px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    table {
        width: 70%;
        th,td {
            padding: 15px;
        }
        thead {
            background: #F9F1E7;
        }
    }
}

.product-pay-info {
    width: 70%;
}

.product-sofa {
    width: 108px;
    height: 105px;
    flex-shrink: 0;
}

.icon-delete {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

.check-out {
    width: 30%;
    padding: 15px 75px 80px 75px;
    flex-shrink: 0;
    background: #F9F1E7;
    h2 {
        text-align: center;
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .subtotal {
        margin-top: 60px;
        display: flex;
        gap: 62px;
        span:last-child {
            color: #9F9F9F;
            font-weight: 400;
        }
    }

    .total {
        margin-top: 30px;
        gap: 58px;
        span:last-child {
            color:  #B88E2F;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    a {
        margin-top: 42px;
        margin-left: 12px;
    }
}

.features {
    margin-top: 85px;
    padding: 100px 50px;
    background: #FAF3EA;
}

.feature-item {
    gap: 10px;
}

.feature-icon {
    width: 60px;
    height: 60px;
}

.feature-item-title {
    h3 {
        color: #242424;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
    }

    p {
        color:  #898989;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }
}

footer {
    padding: 48px 206px 38px 100px;
    p:last-child {
        color: #9F9F9F;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
   
.logo-small {
    a {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
    }
}

.footer-column {
    flex-grow: 1;
    ul {
        display: flex;
        flex-direction: column;
        gap: 46px;
    }
}

.link {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

address {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input.enter-email {
    border: none;
    position: relative;
    outline: none;
    width: 173px;
}

input.enter-email::after {
    content: "";
    display: block; 
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 0; 
    left: 0;
}

button {
    border: none;
    background: none;
    position: relative;
}

button::after {
    content: "";
    
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 0; 
    left: 0;
}



input::placeholder {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.footer-column:first-child,.footer-column:last-child {
    flex-grow: 2;
}

