* {
    box-sizing:border-box;
}

body {
    background: #FFFCF4;
}

.container{
    max-width: 1440px;
    padding: 47px 135px 65px;
    font-family: "Poppins", serif;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: #171100;
        font-family: Sen;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
        span {
            color: #FFB900;
            font-family: Sen;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 34px;
        }
    }
}

.nav-bar-click {
    color: #171100;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    position: relative;
}

nav {
    margin-left: 513px;
    height: 49px;
    display: flex;
    align-items: center;
    gap: 70px;
    ul {
        padding-top: 3px;
        display: flex;
        gap: 42px;
    }
}

.list-item {
    color: #5F5B53;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}

.btn-sign-up {
    width: 144px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 24.5px;
    background: #171100;
    color: #FFF;
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
}

main {
    margin-top: 72px;
}

.hero {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.avatar {
    position: relative;
    width: 470px;
    height: 685px;
    flex-shrink: 0;
    img {
        width: 100%;
    }
    
}

.desc-course {
    margin-left: 230px;
    h1 {
        margin-top: 64px;
        color: #171100;
        font-family: Sen;
        font-size: 58px;
        font-style: normal;
        font-weight: 700;
        line-height: 68px; 
        letter-spacing: -1.16px;
    }

    p {
        margin-top: 22px;
        color: #5F5B53;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
}

.review-courses {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 38px;
}

.btn-see-courses {
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #FFB900;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    border: none;
}

.watch-video {
    height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    span {
        color: #171100;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; 
    }
}

.icon-play-video {
    margin-top: 16px;
}

.recent-engagement {
    margin-top: 48px;
    color: #5F5B53;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.engagements {
    display: flex;
    gap: 28px;
    margin-top: 8px;
}

.students {
    color: #5F5B53;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    strong {
        margin-right: 14px;
        color: #171100;
        font-family: Sen;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 54px;
    }
}

.courses-desc {
    color: #5F5B53;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    strong {
        margin-right: 14px;
        color: #171100;
        font-family: Sen;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 54px;
    }
}

.card-courses {
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 28px 58px  28px 24px;
    position: absolute;
    right: -100px;
    bottom:48px;
}

.icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin-right: 16px;
}

.info-course {
    display: flex;
    align-items: center;
}

.quantity-courses {
    color: #5F5B53;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    strong {
        color: #171100;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }
}

.line {
    border-bottom: 2px solid;
    width: 10px;
    position: absolute;
    bottom: 0;
    left: 1.5px;
    color: #171100;
}