*{
     box-sizing: border-box;
     font-family: "Roboto", sans-serif;
}

body{
    background-size: cover;
    overflow-x: hidden;
    
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.contaier{
    margin: 30px auto;
    padding: 10px 10px;
    width: 1410px;
    height: auto;
   
}

nav{
    display: flex;
    justify-content: space-between;
    ul{
        display: flex;
        gap:30px;
        padding: 0;
    }
    a{
        font-size: 16px;
        color: #000000;
    }
}

.logo{
    width: 128px;
    height: 70px;
    text-align: center;
    img{
        align-items: center;
        width: 100%;
    }
}

.banner{
    width: 100%;
    img{
        width: 100%;
    }
}
 
.about-us{
    margin-top: 64px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    h1{
        margin-top: 5px;
        font-size: 32px;
        color: #3A3A3A;
    }
    h2{
        font-size: 16px;
        color: #BB7E52;
    }
}

.body-content{
    display: flex;
    justify-content: space-between;
}

.about-item{
    width: 100%;
}

.img{
  height: 448px;
  width: 448px;
  img{
    width:100% ;
  }
}

.content{
    width: 448px;
    height: 448px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    text-align: center;
    margin: 0;
    h2{
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: #BB7E52;
    }
    p{
        margin-top: 12px;
        padding: 0;
        font-size: 32px;
        font-weight: bold;
    }
}

.about-item:nth-child(2n+1){
    display: flex;
    flex-direction: column-reverse;
}

footer{
    margin-top: 96px;
}

.line{
    width: 100%;
    border-bottom: 1px solid #9C9C9C;
}

.contact{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.contact-us{
    width: 311px;
    height: 39px;
    input{
        height: 100%;
        border-style: #9C9C9C;
    }
    button{
        height: 100%;
        background-color: #3A3A3A;
        color: #FFFFFF;
        border: none;
    }
}
