* {
    box-sizing: border-box;
}

body {
    background: #FFFCF4;
}

a {
    text-decoration: none;
}

.container {
    background-color: #FFFFFF;
    max-width: 1440px;
    padding: 47px 135px 65px;
    font-family: "Poppins", serif;
    margin: 0 auto;
}

h2 {
    color: #171100;
    font-family: Sen;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: -0.76px;

    a {
        color: #171100;
    }
}

.popular-courses-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    display: flex;
    gap: 18px;
}

.navigation {
    width: 40px;
    height: 40px;
    img {
        width: 100%;
    }
}

.subtitle {
    margin-top: 16px;
    color: #5F5B53;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.card-course {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.card-course-desc-hover {
    height: 466px;
    width: 370px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.card-course-desc {
    height: 466px;
    width: 370px; 
    background: #FFF;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
   
}

.image-course-card {
    width: 370px;
    height: 278px;
    flex-shrink: 0;
    border-radius: 12px 12px 0px 0px;
}

.infor-course{
    padding: 16px 22px 22px 22px;

    p{
        margin-top: 6px;
        color: #5F5B53;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }
}

.rating {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 6px;
}

.title-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: #171100;
    }

    h3 {
        
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    span {
        color: #FEA31B;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
}

.icon-star {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    img {
        width: 100%;
    }
}

.book-now {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: #171100;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.btn-book-now-hover {
    padding: 12px 24px;
    border-radius: 25px;
    background: #FFB900;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; 
    cursor: pointer;   
}

.btn-book-now{
    padding: 12px 24px;
    border-radius: 25px;
    background: #171100;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; 
    cursor: pointer;   
}

.btn-book-now:hover {
    background: #FFB900;
}


