*{
    box-sizing: border-box;
}

html{
    font-family: "Poppins", sans-serif;
    
}

body{
    padding: 0;
    margin: 0;
    
}

a{
    text-decoration: none;
    color: black;
}

.container{
    width: 100%;
    height: 1708px;
    padding:40px 120px;
    overflow: hidden;
    background: linear-gradient(293deg, #E6E6E4 7.23%, #F0E8E2 97.74%);
}

header{
    width: 1272px;
    height: 48px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    color: #1F1D2A;
}

.logo{
    width: 110px;
    height: 45px;
    flex-shrink: 0;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    a{
        text-decoration: none;
        color: #1F1D2A;
    }
}

.list-item{
    width: 442.5px;
    height: 26px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    color: #1F1D2A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    li{
        list-style: none;
    }
}

.btn{
    color: #1F1D2A;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 110px;
    height: 45px;
    flex-shrink: 0;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #1F1D2A;
    button{
        border: none;
        background: none;
        cursor: pointer;
    }
}

.infomation{
    margin-top: 80px;
    display: flex;
    width: 1163px;
    height: 537px;
    flex-shrink: 0;
}

.name{
    width: 561.148px;
    height: 251.814px;
    flex-shrink: 0;
    h1{
        color: var(--black, #1F1D2A);
        font-size: 55px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    p{
        flex-shrink: 0;
        color:#9B948E;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 187.5% */
    }
    button{
        width: 164.758px;
        height: 70.791px;
        flex-shrink: 0;
        border-radius: 6px;
        background: var(--green, #96C67F);
        border: none;
        color: #1F1D2A;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
    }
}

.image{
    display: flex;
    align-items: center;
}

.big-image{
    width: 484.583px;
    height: 505.65px;
    flex-shrink: 0;
    img{
        width: 100%;
    }
}

.body-content{
    width: 763.733px;
    height: 84px;
    flex-shrink: 0;
    flex-direction: row;
    margin: 100px auto;
    h2{
        color: var(--black, #1F1D2A);
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.brand{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.brand-image{
    width: 91.912px;
    height: 30px;
    flex-shrink: 0;
    gap: 60px;
        img{
            width: 100%;
        }
}

.start-your-career{
    margin: 100px auto;
    flex-shrink: 0;
    text-align: center;
    p{
        color: var(--black, #1F1D2A);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    h2{
        color: var(--black, #1F1D2A);
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 10px;
    }
}

.info-teacher{
    width: 295px;
    height: 450px;
    flex-shrink: 0;
    background-color: #FFFFFF;
    border-radius: 20px;
}

footer{
    flex-wrap: wrap;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    img{
        width: 295px;
        height: 350px;
        flex-shrink: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px
    }
}

.description{
    padding-left: 20px;
    margin-top: 20px;
    span{
        margin-top: 200px;
        color:#1F1D2A;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    p{
        margin-top: 6px;
        color: var(--cream, #9B948E);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}




