*{
    box-sizing: border-box;
}

.container{
    background-color: yellow;
    display: flex;
    width: 600px;
    height: 600px;
    /* flex-direction:row;
    flex-wrap: wrap; */
    flex-flow: row wrap;/* co the thay the cho 2 dong tren */
    gap: 10px;
    column-gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.item{
    background-color: aliceblue;
    border: 1px solid red;
    width: 60px;
}
